.text-white{
    color: #ffff;
}

.brand-green{
    background-color: #3B7733;
}

.brand-orange{
    background-color: #F07F2F;
}

.accordion-button{
    font-size: 1.325rem !important;
}

.select {
    display: block;
    padding-top: 23px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 27% !important;
}

#forceHide{
    display: none;
}
@media (min-width: 992px)
{
    .pb-lg-0 {
        padding-left: 7.5rem !important;
    }
}

@media (max-width : 999px){
 #forceHide{
    display: inline-block
 }

 .partnerMoblie{
    width: 50%;
    margin: auto;
 }

}