.h-1 {
  color: #3b7733;
}

.text-white {
  color: #ffff;
}

.brand-green {
  background-color: #3b7733;
}

.brand-orange {
  background-color: #f07f2f;
}

.browser {
  display: block;
  margin: auto;
}

.empty {
  height: 270px;
}

.mobile {
  margin-bottom: 170px;
}

.mobile-info {
  max-width: 496px;
}

.accordion-button {
  font-size: 1.325rem !important;
}

.select {
  display: block;
  padding-top: 23px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 45% !important;
}

.parx {
  max-width: 705px;
}

.partners {
  margin-top: -198px;
}

.about {
  margin-top: -175px;
}

.about img {
  width: 200px;
}

.award {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form {
  position: absolute;
  left: -5000px;
}

.info {
  font-size: 1.3rem;
  font-weight: 600;
  font-color: #3b7733 !important;
}
.whatsapp {
  text-decoration: underline;
}

.whatsapp-link, .whatsapp-link:hover {
  color: #f07f2f;
  font-size: 1.1rem;
  font-weight: 600 !important;
}

.whatsapp-link .ai-whatsapp {
  font-size: 1.2rem;
  font-weight: 700 !important;
}

#green {
  background:linear-gradient(0deg, rgba(59, 119, 51, 0.7), rgba(59, 119, 51, 0.7)), url("../img/Meters/Untitled Project 14-fs8.png");;
}

.jarallax-bg {
  background-color: #eee;
}

.jarallax .jarallax-img {
  z-index: -1;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.jarallax-bg-img {
  background-image: url("../img/Meters/Untitled Project 8-fs8.png");
}

.jarallax-partners {
  margin-top: -260px;
}

.glass {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px rgba(255, 255, 255, 0.3);
}

.false-div {
  width: 100%;
  height: 400px;
}

#forceHide {
  display: none;
}
@media (min-width: 992px) {
  .pb-lg-0 {
    padding-left: 7.5rem !important;
  }
}

@media (max-width: 999px) {
  .jarallax .jarallax-img#orange {
    z-index: -1;
    background-position: top !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }

  .jarallax .jarallax-img#green {
    z-index: -1;
    background-position: top !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .select {
    width: 80% !important;
  }
  
  .false-div {
    width: 100%;
    height: 300px;
  }

  #forceHide {
    display: inline-block;
  }

  .partnerMoblie {
    width: 50%;
    margin: auto;
  }
}

@media only screen and (max-width: 992px) {
  .award {
    width: 100%;
  }
}